.App {
 
}

.App-header {
  background-color: #282c34;
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0.2em;
  font-size: 1.5em;
  color: white;
}
